$desktop-breakpoint:1280px;
$tablet-breakpoint1:768px;
$primary-black:#323232;
$primary-sliver:#AFAFAF;
$primary-white:#FFFFFF;
$secondary-black:#000000;
$secondary-mercury:#e1e1e1;
$secondary-alabaster:#FAFAFA;


