@use "../styles/partials/mixins" as *;
@use "../styles/partials/varibles" as *;
@use "../styles/partials/globals" as *;
@use "../styles/partials/fonts" as *;

.hero {
  background-image: url("../assets/images/hero-shows.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  
  &__col1 {
    display: flex;
    flex-direction: column;
   
  &__text {
      color: $primary-white;
      margin-top: 1.5rem;
      margin-left: 1.5rem;
      margin-bottom:1rem;
      padding-top:1rem;
      z-index: 2;
      transform: translateY(-50%);
    }

    &__heading {
      top: 17%;
      margin-left: 1.5rem;
      line-height: normal;
     
    }
    @include tablet {
      &__heading{
        top:20%;
        
      }
    }
    
  }
  &__col2 {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    top:-5%;
    &__audio {
      width:90%;
      height:70%;
      z-index: 2;
    }
  }
}
iframe{
  top:30%;
}
@include tablet {
  .hero{
    &__col2
     {
      width:80%;
      top:1%;
     }
  }
}
@include desktop {
  .hero{
    flex-direction: row;
    &__col1{
      margin:2.5rem;
      &__heading {
        top: 10%;
       }
    }
    &__col2{
      flex-direction: row;
      &__audio {
        margin-top:2.5rem;
        width:60%;
        height:50%;
        z-index: 2;
      }
     }
  }
}
// -----shows display-----
.shows__title {
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.show__display {
  display: flex;
  flex-direction: column;
}

.show__date {
  font-size: 0.8125rem;
  font-weight: 700;
  margin-left: 1rem;
  color: $primary-black;
}
.show__venue {
  font-size: 0.8125rem;
  color: $primary-black;
  margin-left: 1rem;
}
.show__location {
  font-size: 0.8125rem;
  color: $primary-black;
  margin-left: 1rem;
}

.label {
  color: $secondary-mercury;
  font-size: 0.875rem;
  padding: 0.5rem;
  margin-left: 1rem;
  padding-left: 0;
}
.show__buy-ticket {
  border-radius: 4px;
  background-color: $primary-black;
  height: 2.5rem;
  color: $primary-white;
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
}
.show__buy-ticket:hover {
  background-color: #000000;
}

.show__display:hover {
  background-color: $secondary-alabaster;
}
.show__display.selected
{
  background-color: $secondary-mercury;
}
@include tablet {
  .show{
    width: 100%;
  }
  .show__display {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.875rem;
    margin: 1rem;
    padding: 0.75rem;
    border-bottom: 1px solid $secondary-mercury;
  }
  .label__div {
    color: $secondary-mercury;
    background-color: orange;
  }
  .shows__title {
    margin-bottom: 2rem;
  }
  .label {
    visibility: hidden;
  }
  .show__buy-ticket {
    width: 9.375rem;
    font-size: 0.875rem;
    margin: 0;
  }
  .shows-divider {
    visibility: hidden;
  }
  .show__date {
    margin-left: 0;
  }
  .show__venue {
    margin-left: 0;
  }
  .show__location {
    margin-left: 0;
  }
}
@include desktop {
  .shows {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 1rem;
  }
  .show__buy-ticket {
    margin-left: 2rem;
  }
}
